/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.fixed-bottom {
}
.fixed-bottom a{
  text-decoration:none;
  border-top:2px solid;
  color:#fff;
  font-weight:bold;
  cursor:pointer;
}
.fixed-bottom .active{
  background:#fff;
  color:darkgreen;
  cursor:loading !important;
}
